#wrapper {
  width: 720px;
  height: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 240px;
  gap: 0;
}

.box {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 15px;
}

.box1 {
  background-color: #3689ff;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.box3 {
  background-color: #ff9019;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.box2 {
  background-color: #00cf12;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.box4 {
  background-color: #ffd000;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
