* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
.circle-container {
    background-color: beige;
    display: grid;  
    /* 3x3 정렬을 위한 그리드 레이아웃 */
    grid-template-columns: repeat(3,1fr); 
    /* 3개 동일 너비 열  */
    justify-items: center; 
    /* 가로에서 가운데 정렬 */
    align-content: center ;
    /* 세로에서 가운데 정렬 */

    
}
.circle {
    border-radius: 50%;
    background-color: burlywood;
    width: 30vw;
    height: 30vw;
    margin-top: 1vw;
    font-weight: bold;
    font-size: 50px;
    display: flex; 
    /* 텍스트 정렬 위한 플렉스 박스  */
    justify-content: center;
    align-items: center;

   
}